<section id="loginContainer">
    <h1>LOG IN</h1>
    <form>
        <div><input type="text" name="username" placeholder="User Name" [(ngModel)] = "userName"></div>
        <div><input type="password" name="password" placeholder="Password Here"[(ngModel)] = "password"></div>
        <span class="errorMessage">{{error}}</span>
        <button (click) ="login()">LOG IN </button>
    </form>
    <ng-container *ngIf="showLoading">
        <app-loading [showLoading]="true"></app-loading>
    </ng-container>
</section>