<section class="tasksContainer" >
    <h1 i18n>TASKS</h1>
    <div id="search">
        <app-search-bar (onKeywordUpdate)="onKeywordEntered($event)" [searchTerm]="taskTitle"></app-search-bar>
    </div>
    <div class="taskStatusDes">
        <div>
            <label i18n>Seen: </label>
            <div class="statusColorDiv" [style.background-color]="getTaskColor(1)"></div>
        </div>
        <div>
            <label i18n>On Progress: </label>
            <div class="statusColorDiv" [style.background-color]="getTaskColor(2)"></div>
        </div>
        <div>
            <label i18n>Done: </label>
            <div class="statusColorDiv" [style.background-color]="getTaskColor(3)"></div>
        </div>
        <div>
            <label i18n>Graded: </label>
            <div class="statusColorDiv" [style.background-color]="getTaskColor(4)"></div>
        </div>
    </div>
    <div class="tasks">
        <ng-container *ngIf="userTasksRes">
            <ng-container *ngFor="let task of userTasksRes.tasksList; let itemIndex = index;">
                <div class="taskItem" (click)="showTaskDetails(itemIndex)" [style.background-color]="getTaskColor(task.status)">
                    <div class="staffmemberDetails">
                        <img [src]="task.staffMember.image??defulatImage" alt="">
                        <div>
                            <span>{{task.staffMember.name.split(' ')[0]}}</span>
                            <a href="mailto:{{task.staffMember.email}}"
                            *ngIf="task.staffMember.role.toLowerCase() == 'employee'"> Email </a>
                        </div>
                        <!--*ngIf="task.staffMember.role.toLowerCase() == 'employee'"-->
                    </div>
                    <h2>{{getText(task.arTitle, task.title)}}</h2>
                    <p>{{getText(task.arDescription, task.description)}}</p>
                </div>
            </ng-container>
        </ng-container>
    </div>
    <app-bottom-nav [pageInfo]="userTasksRes?.pageInfo" (onPageRequest)="onNewPageRequested($event)" ></app-bottom-nav>
    <app-task-details class="task-details" [task]="selectedTask" (onTaskDetailsClose) = "closeTaskDetails()" (onTaskUpdate)="onTaskUpdate()"  [show]="taskDetails"></app-task-details>
</section>

<app-loading [showLoading]="showLoading"></app-loading>