<section class="profileInfoContainer" *ngIf="profile">
    <div id="imageContainer">
        <img [src]="(profile && profile.image)?profile.image:defulatImage" alt="" id="profilePic">
        <div id="changeProfilePic">
            <span (click)="pickImage()" i18n>CHANGE</span>
        </div>
    </div>
    <div id="userInfo">
        <h2>{{profile? profile.fullName:""}}</h2>
        <h3>{{getRole(profile?profile.role:"")}}</h3>
        <h3><a href="#">{{profile?profile.email:""}} </a></h3>
    </div>
    <div class="logoutBtn" (click)="logout()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" width="24"><path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h280v80H200Zm440-160-55-58 102-102H360v-80h327L585-622l55-58 200 200-200 200Z"/></svg>
        <span i18n>LOGOUT</span>
    </div>
</section>
<input type="file" id="profileImageInput" accept="image/*" (change)="onImagePicked($event)">