<section id="bodyContainer" [style.width]="show?'100%':'0'">
    <div class="taskDetailsContainer" *ngIf="task">
        <div class="staffMemberInfo">
            <img [src]="task && task.staffMember.image?task.staffMember.image:defulatImage" alt="">
            <div>
                <h3>{{task!.staffMember.name}}</h3>
                <a href="mailto:{{task!.staffMember.email}}">{{task!.staffMember.email}}</a>
            </div>
        </div>
        <div class="task-details">
            <div class="detail">
                <label i18n>Status: </label>
                <span>{{getStatus(task!.status)}}</span>
            </div>
            <div class="detail">
                <label i18n>Grade: </label>
                <span>{{task!.grade??notGraded}}</span>
            </div>
        </div>
        <div class="taskInfo">
            <h2>{{getText(task.arTitle, task.title)}}</h2>
            <p i18n>Description</p>
            <span>{{getText(task.arDescription, task.description)}}</span>
            <p *ngIf="task.changes" i18n>Requested Changes</p>
            <span *ngIf="task.changes">{{getText(task.arChanges??"", task.changes)}}</span>
        </div>
        <h4>{{error}}</h4>
        <div *ngIf="task!.staffMember.role.toLowerCase() == 'manager' && task.status <4" id="employeeOptions">
            <button id="done-btn" (click)="updateStatus()" i18n>UPDATE STATUS</button>
            <select name="status" id="taskStatus" [(ngModel)]="taskStatus">
                <option value=2 selected i18n> On Progress</option>
                <option value=3 i18n>Done</option>
            </select>
        </div>
        <div>
            <div class="manager-option" *ngIf="task!.staffMember.role.toLowerCase() == 'employee'">
                <button (click)="setGrade()" i18n> SET GRADE</button>
                <input type="number" max=10 min=0 inputmode="numeric" [(ngModel)]="givenGrade" placeholder="Grade"
                    i18n-placeholder>
            </div>
            <form [formGroup]="changesRequested" *ngIf="task!.staffMember.role.toLowerCase() == 'employee'">
            <div class="changesRequest">
               
                    <textarea cols="30" rows="5" i18n-placeholder placeholder="Requested Changes"
                        formControlName="changes"></textarea>
                    <textarea cols="30" rows="5" i18n-placeholder placeholder="Arabic Requested Changes" dir="rtl"
                        formControlName="arChanges"></textarea>
                    <div><button (click)="requestChanges()" i18n>REQUEST CHANGES</button></div>
            </div>
        </form>
        </div>
        <button id="closeButton" (click)="closeSideBar()" i18n> Close </button>
    </div>
</section>